/*
Template Name: UBold Dashboard
Author: Coderthemes
Email: coderthemes@gmail.com
File: Main Css
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700|Source+Sans+Pro:400,600,700");
/* =============
   Common
============= */
table.dataTable {
    border-collapse: collapse !important;
}
.content-page > .content {
    min-height: 480px;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #7e57c2;
    color: #ffffff;
}
.page-title {
    display: inline-block;
    font-weight: 300;
    margin-right: 15px;
}
.page-header-2 {
    padding: 5px 20px 5px 20px;
}
.card-box {
    padding: 30px;
}
.topbar .topbar-left {
    background-color: #002b7a;
}
.navbar-custom {
    background-color: #002b7a;
}
.button-menu-mobile {
    background-color: #002b7a;
}
#sidebar-menu > ul > li > a.active {
    border-left: 3px solid #002b7a;
    color: #002b7a !important;
}
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    background-color: #002b7a !important;
    border: 1px solid #002b7a !important;
}
#sidebar-menu .subdrop {
    background: #f4f8fb !important;
    border-left: 3px solid #002b7a;
    color: #002b7a !important;
}
#sidebar-menu ul ul a:hover {
    color: #002b7a;
}
#sidebar-menu > ul > li > a:hover {
    color: #002b7a;
    text-decoration: none;
}
#sidebar-menu ul ul li.active a {
    color: #002b7a;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, .page-item.active .page-link {
    background-color: #002b7a;
    border-color: #002b7a;
}
.bootstrap-select > .dropdown-menu > .dropdown-menu li a:hover {
    background-color: #002b7a;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > a {
    color: #002b7a;
    border-color: #002b7a;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul > li:hover > ul a:hover {
    color: #002b7a;
}
#wrapper.enlarged .left.side-menu #sidebar-menu a.subdrop {
    color: #002b7a !important;
}
#wrapper.enlarged .left.side-menu #sidebar-menu ul ul li.active a {
    color: #002b7a;
}
.option-disabled {
	background: #ebeff2 !important;
}
.option-disabled:hover {
	color: #292b2c !important;
	background: #ebeff2 !important;
}
.table-responsive .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.card-title {
    margin-bottom: .75rem;
    font-weight: 400;
    font-size: 20px;
}
textarea.summernote {
    display: none;
}
.ms-container {
    width: 100%;
}
.flights-by-continent {
    background: #ebeff2;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #e3e3e3;
}
.dash-tokens {
    text-transform: uppercase;
    padding: 3px 5px;
    margin-top: 1px;
    display: inline-block;
    min-width: 50px;
    min-height: 50px;
    font-weight: 400;
    font-size: 20px;
    line-height: 2.2;
    color: #f7b84b;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
    background-color: rgba(247,184,75,.25);
}
.logo span.logo-lg {
    display: block;
}
.logo span.logo-sm {
    display: none;
}
.enlarged .logo span.logo-sm {
    display: block !important;
    opacity: 1 !important;
}
.card-box.card-block {
    padding: 15px;
}
.btn-pink, .btn-pink:hover, .btn-pink:focus, .btn-pink:active {
    background-color: #002b7a !important;
    border: 1px solid #002b7a !important;
    color: #ffffff;
}
.btn-pink.focus, .btn-pink:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(0, 43, 122, 0.5);
    box-shadow: 0 0 0 3px rgba(0, 43, 122, 0.5);
}
.text-custom {
    color: #002b7a !important;
}
.card-header:first-child {
    border-radius: 0;
    background: #f4f8fb !important;
    border-left: 3px solid #002b7a;
    color: #002b7a !important;
    border-bottom: 0;
}
#accordion .card {
    border: 0;
}
#accordion .card a {
    color: #36404a;
}
.delete-row.form-control {
    border: 0px;
}
.icon-btn {
    cursor: pointer;
}
.icon-btn i {
    vertical-align: middle;
}
.pricing .table-responsive {
    overflow-x: visible;
}
@media (max-width: 992px)
{
    .enlarged .view-site {
        display: initial;
    }
    .view-site {
        display: none;
    }
}