.mb-4 {
	margin-bottom: 15px !important;
}
.text-lite {
	color: #949ca1;
}
.ftco-navbar-light.scrolled .nav-item.active > a {
    color: #002b7a !important;
}
@media (min-width: 768px) {
.ftco-search {
    margin-top: -152px;
    padding: 0 !important;
}
}
.search-destination .form-group .form-control.btn.btn-primary {
	background: #002b7a !important;
	border: 1px solid #002b7a !important;
}
.search-destination .form-group .icon {
	color: #002b7a;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
	font-size: 16px;
	padding: 14.4px 15px;
	font-weight: 500;
	text-shadow: 1px 1px 1px #222;
}
.ftco-navbar-light.scrolled .nav-link {
	text-shadow: none !important;
}
.ftco-navbar-light .navbar-nav > .nav-item.active > a {
    color: #4dc5ed;
}
.hc-button {
	background: #002b7a;
    font-size: 18px;
    color: #FFF;
    padding: 10px 15px;
    line-height: 37px;
	font-weight: 500;
	margin-left: 10px;
}
.hc-button [class*=" icon-"] {
	font-size: 16px;
	margin-right: 7px;
}
.hc-button:hover {
	background: #002364;
}

/************* HOME FLIGHT *************/
.home-flight-carousel {
    padding-top: 55px;
	padding-bottom: 65px;
    background: #ffffff;
}
.home-flight-carousel .destination .text {
	background: #f8faff;
}
.home-flight-carousel h2.mb-4 {
	color: #002c7b;
	margin-bottom: 5px !important;
}
.slider-text h1 {
	margin-top: 180px !important;
	text-shadow: 3px 1px rgba(0,0,0,0.8);
}
.slider-text p {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
	font-weight: 500;
}
/*** CAROUSEL Nav ***/
.testimony-section .owl-nav .owl-prev:hover span:before,
.testimony-section .owl-nav .owl-prev:focus span:before,
.testimony-section .owl-nav .owl-next:hover span:before,
.testimony-section .owl-nav .owl-next:focus span:before {
	color: #002c7b;
}
.testimony-section .owl-nav .owl-prev span:before,
.testimony-section .owl-nav .owl-next span:before {
	color: #002c7b;
}
.testimony-section .owl-dots .owl-dot.active {
    background: rgba(0, 44, 123, 0.8);
}
.testimony-section .owl-dots .owl-dot {
	background: rgba(0, 44, 123, 0.05);
}
.owl-carousel .owl-dots .owl-dot:after {
	border: 1px solid #002c7b;
}

.home-flight-carousel hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.home-flight-carousel .destination .text h3 {
	margin-bottom: 2px;
	font-size: 17px;
	font-weight: 400;
	color: #484848;
}
.home-flight-carousel .destination .text .two .price {
	font-size: 17px;
	color: #002c7b;
}
.home-flight-carousel .hf-main-heading h2 {
	font-size: 20px;
	text-align: center;
	background: #002b7a;
	margin-bottom: 0;
	padding: 10px 0;
	color: #e6e6e6;
}
.home-flight-carousel .owl-stage-outer {
	padding-top: 10px !important;
}
.home-flight-carousel .pb-3 {
	margin-bottom: 0px !important;
}


/************* HOME HAJJ *************/
.home-hajj {
	padding-top: 70px;
	padding-bottom: 54px;
	background: #f8faff;
}
.home-hajj h2.mb-4 {
	color: #002b7a;
	margin-bottom: 5px !important;
}
p.rate {
	margin-bottom: 2px;
}
.p-details-features {
	display: inline-block;
}
.p-details-features ul {
	list-style-type: none;
	padding-left: 0;
}
.p-details-features ul li {
	float: left;
	margin: 0 7px;
	font-weight: 500;
	color: #000;
}
.p-details-features ul li:last-child {
	margin-right: 0;
}
.package-details {
	margin-top: 10px;
}
.package-details ul {
	padding-left: 0;
    list-style-type: none;
}
.package-details ul li {
	float: left;
    margin-right: 40px;
    background: url(../images/tick.png) no-repeat center left;
    padding-left: 25px;
}
.details-button-blue a {
	background: #002b7a;
	color: #FFF;
	display: block;
	text-align: center;
	padding: 10px 15px;
}
.details-button-blue a:hover {
	background: #002465;
}
.details-button-lite a {
	background: #11b3e8;
	color: #FFF;
	display: block;
	text-align: center;
	padding: 10px 15px;
}
.details-button-lite a:hover {
	background: #0fa0cf;
}
.home-hajj .img, .home-hajj .content  {
	margin-bottom: 30px;
}


/************* HOME FEATURES THUMBNAILS *************/
.home-features {
	padding-top: 50px;
	padding-bottom: 50px;
	background: #f8faff url(../images/bg-01.png) no-repeat bottom;
}
.home-features-thumbs {
	background: rgba(255,255,255,0.7);
	padding: 30px 20px 20px 20px;
	margin: 10px 0;
}
.home-features-thumbs:hover {
	background: rgba(17,179,232,0.3);
}
.home-features-thumbs .block-6 {
	margin-bottom: 5px;
}
.home-features .services .media-body h3 {
	margin-bottom: 5px !Important;
}
.home-features-thumbs .icon-img {
	margin-bottom: 18px;
}
.home-features-thumbs p {
	color: #484848;
}


/************* HOME DESTINATIONS *************/
.home-destinations {
	padding-top: 55px;
	padding-bottom: 40px;
}
.home-destinations .blog-entry .text .tag {
	font-size: 18px;
	top: -65px;
	padding: 2px 20px;
	font-weight: 600;
	background: #002b7a;
}
.home-destinations .pb-3 {
	padding-bottom: 10px;
	margin-bottom: 7px !important;
}
.home-destinations .block-20 {
	height: 240px;
}
.home-destinations .block-20 img {
    width: 100%;
    object-fit: cover;
}


/************* HOME TESTIMONIALS *************/
.home-testimonials {
	padding-top: 55px;
	padding-bottom: 70px;
	/*background: url(../images/bg-01.png) bottom no-repeat #f9fbff;*/
}
.home-testimonials .pb-3 {
	margin-bottom: 0px !important;
}
.home-testimonials h2.mb-4 {
	margin-bottom: 5px !important;
}
.home-testimonials [class^="icon-"], [class*=" icon-"] {
	font-size: 50px;
	margin-bottom: 20px;
}
.home-testimonials .pb-5 {
	padding: 30px 20px !important;
}
.testimony-section .owl-carousel .owl-stage-outer {
	padding-top: 10px !important;
}


/************* FOOTER *************/
.main-footer {
	padding: 50px 0 10px !important;
}
.copyrights-line p {
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 14px;
}
.copyrights-line {
	border-top: 1px solid #1a1f26;
}
.main-footer .ftco-heading-2 {
	margin-bottom: 15px !important;
}
.ftco-footer-social li {
	float: left;
}
.main-footer .block-23 ul li > a {
	margin-bottom: 5px;
}
.main-footer .ftco-footer-social li a {
    height: 35px;
    width: 35px;
}
.main-footer .ftco-footer-social li a span {
	font-size: 17px;
}
.main-footer .mb-5 {
	margin-bottom: 0 !important;
}
.main-footer .block-23 ul li {
	margin-bottom: 8px;
}
.main-footer .py-2 {
	padding: 5px 0 !important;
}
.main-footer .ftco-footer-social {
	margin: 10px 0 !important;
}
.main-footer ul {
	margin-bottom: 10px !important; 
}
.home-testimonials {
    background: #14a1cf;
}
.flight-table {
	background: url(../images/flight-list.png) no-repeat #f8faff;
	background-position: top center;
}
.flight-table .text {
	margin-top: 75%;
}
.flight-table h3 a, .flight-table h3 {
	font-size: 16px;
	color: #000;
}
.flight-table .two span {
	font-size: 16px;
	color: #000;
}
.flight-table .one {
	float: left;
}
.flight-table .two {
	float: right;
}
.content-row {
	border-bottom: 1px dashed #999;
    display: inline-block;
    width: 100%;
}
.content-row:last-child {
	border-bottom: 0;
}
h3.table-heading {
	font-size: 20px;
	color: #002b7a;
	text-align: center;
}
@media (max-width: 1024px) {
.flight-table .text {
	margin-top: 60%;
}
.flight-table {
    background-position: -20px -80px;
}
}
@media (max-width: 768px) {
.flight-table .text {
	margin-top: 40%;
}
.flight-table {
    background-position: -20px -170px;
}
}
@media (max-width: 500px) {
.flight-table .text {
	margin-top: 60%;
}
.flight-table {
    background-position: -20px -40px;
	margin-bottom: 20px;
}
}
@media (max-width: 350px) {
.flight-table .text {
	margin-top: 75%;
}
.flight-table {
    background-position: -20px -40px;
	margin-bottom: 20px;
}
}


/************************** INNER PAGES **************************/
.hero-wrap.js-fullheight.inner-banner, .inner-banner .slider-text {
    max-height: 350px;
}
@media (max-width: 768px) {
.inner-banner .slider-text h1 {
	font-size: 50px !important;
}
}
.about-content {
	padding-top: 70px;
	padding-bottom: 60px;
}
.inner-banner .slider-text .breadcrumbs {
    margin-bottom: 5px;
}
.inner-banner .slider-text h1 {
	margin-top: 0 !important;
	text-transform: uppercase;
	font-size: 65px;
	letter-spacing: 2px;
}
.inner-banner-text {
	margin-top: 90px;
}
.contact-info span {
	font-weight: 700;
}
.contact-page {
	padding-top: 62px;
	padding-bottom: 54px;
}
.contact-page .ape ul {
	list-style-type: none;
	padding-left: 0;
}
.contact-page .ape ul li {
	float: left;
}
.contact-page .ape ul li:first-child {
	padding-right: 15px;
}
.btn.btn-primary {
    background: #002b7a !important;
    border: 1px solid #002b7a !important;
    color: #fff !important;
}
.destinations-page {
	padding-top: 70px;
	padding-bottom: 40px;
}
.destinations-detail {
	padding-top: 70px;
	padding-bottom: 20px;
}
.home-hajj-listing {
	padding-top: 30px;
	padding-bottom: 30px;
}
.home-hajj-listing .row {
	padding: 40px 0 24px 0;
	border-bottom: 1px dashed #949ca1;
}
.home-hajj-listing .row:last-child {
	border-bottom: 0;
}

.flight-list {
	padding-top: 10px;
	padding-bottom: 54px;
}
.flight-list .flights-table .content-row {
	background: #f8faff;
	padding: 10px 15px;
	border-color: #d6e2ff;
}
.flight-list .flights-table .content-row p {
	font-size: 15px;
	margin-bottom: 0;
	line-height: 1.2;
	padding-top: 10px;
}
.flight-list .flights-table .content-row .flight-title h3,
.flight-list .flights-table .content-row .flight-title h3 a {
	font-size: 18px;
	color: #002b7a;
	margin-bottom: 0;
	line-height: 2;
}
.flight-list .flights-table .content-row .flight-title img {
	float: left;
	padding: 8px 10px 6px 0;
}
.flight-list .flights-table .content-row .flight-price h3 {
	font-size: 18px;
    margin-bottom: 0;
    line-height: 2;
}
.flight-list .flights-table .content-row a.button {
	background: #002b7a;
	text-align: center;
	color: #FFF;
	display: block;
	line-height: 1.5;
	padding: 6px 32px;
}
.flight-list .flights-table .content-row a.button:hover {
	background: #002568;
}
.flight-list .pb-3 {
    margin-bottom: 5px !important;
    padding-bottom: 5px !important;
}
@media (max-width: 600px) {
.flight-list .flights-table .content-row .flight-title h3,
.flight-list .flights-table .content-row .flight-title h3 a,
.flight-list .flights-table .content-row .flight-title img,
.flight-list .flights-table .content-row .flight-price h3 {
	text-align: center;
}
}
/******************** BOOKING ********************/
.booking-page form .row {
	margin-bottom: 15px;
}
.booking-page .form-control {
	font-size: 15px;
}
.booking-page {
	padding-top: 62px;
	padding-bottom: 55px;
}
.booking-page .mb-5 {
	margin-bottom: 10px !important;
}
.hajj-package-detail {
	padding-top: 70px;
    padding-bottom: 45px;
}
.hajj-package-detail ul.ml-md-5 li {
	list-style-type: square;
	padding-bottom: 10px;
	border-bottom: 1px dashed #d9d9d9;
}
.hajj-package-detail ul.ml-md-5 li:last-child {
	border-bottom: 0;
}
.hajj-package-detail p.rate {
    margin-bottom: 10px !important;
}
.hajj-package-detail .listing {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}
.hajj-package-detail ul.itinerary-bullets {
	padding-left: 0;
}
.hajj-package-detail ul.itinerary-bullets li {
	list-style-type: none;
	background: url(../images/bullet.png) no-repeat;
}
.hajj-package-detail ul.itinerary-bullets li h6,
.hajj-package-detail ul.itinerary-bullets li p {
	margin-left: 40px;
}
.hajj-package-detail .hotel-single {
	margin-bottom: 20px !important;
}
.hajj-package-detail .hotel-img {
	height: 400px;
}
.hajj-package-detail .tour_right {
	border: 1px solid #d9d9d9;
}
.hajj-package-detail .tour_right h3 {
	font-size: 22px;
	text-align: center;
	background: #11b3e8;
	padding: 10px 0;
	color: #FFF;
}
.hajj-package-detail h4.tour_help_1_call {
	font-size: 20px !important;
	text-transform: uppercase;
	font-weight: 600;
}
.hajj-package-detail .tour_help_1 h4 {
	font-size: 16px;
	text-align: center;
}
.hajj-package-detail .tour_help_1 [class^="icon-"], [class*=" icon-"] {
	font-size: 16px;
}
.info-action {
    background: #11b3e8;
    height: 60px;
}
.banner_book_1 ul {
    padding: 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
}
.banner_book_1 ul li {
    display: inline;
    line-height: 60px;
    font-size: 18px;
    border-right: 1px solid #72d6f7;
    color: #fff;
    float: left;
    width: 24%;
    text-align: center;
}
.banner_book_1 ul li a {
    background: #002b7a;
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    line-height: inherit;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.banner_book_1 {
    width: 100%;
}
.offers_item {
    width: 100%;
}
.book_button
{
	background: #31124b;
	margin-top: 39px;
	margin-bottom: -5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.flights-page {
	padding-top: 70px;
	padding-bottom: 40px;
}
.flights-page .destination .text h3 {
	line-height: 1.3;
	font-size: 17px;
}
.flights-page .destination .text .two .price {
    font-weight: 600;
    font-size: 20px;
}
.flights-page .destination {
	border: 1px solid #ebebeb;
}
.flights-page .destination .img-2 {
	height: 200px;
}
.flights-page .destination .text .bottom-area span:last-child a {
	background: #002b7a;
}
.flights-page .destination .text .bottom-area span:last-child a:hover {
	background: #00215d;
}
.flights-page .destination .text .two .price {
	color: #002b7a;
}